NODE_ENV=development
PORT=3000

APP_ORIGIN=http://localhost:5173

AWS_REGION=ap-southeast-1
S3_UPLOAD_BUCKET=clouddoc-upload-20260701
S3_PRESIGN_EXPIRES_SECONDS=300

DB_HOST=clouddoc-pg-dev.c3cqsgqy680s.ap-southeast-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=clouddoc
DB_USER=clouddoc_admin
DB_PASSWORD=replace-with-rds-password
DB_SSL=false
